[Desktop Entry]
Name=SweetPastel
X-KDE-PluginInfo-Author=deathemonic
X-KDE-PluginInfo-Email=deathemonic@gmail.com
X-KDE-PluginInfo-Name=SweetPastel
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-blur=false